/* Style for Jonathan's Game */
#gameboard {
    border: 1px solid;
    display: table;
}

.gameboard-row {
    -webkit-box-flex: 1;
    display: table-row;
}

.gameboard-cell {
    display: table-cell;
    height: 1em;
    width: 1em;
}